ux-dialog-overlay {
  @apply absolute;
  @apply inset-0;
  @apply bg-gray-500;
  @apply opacity-0;
  @apply overflow-hidden;
}

ux-dialog-overlay.active {
  @apply opacity-50;
} 

ux-dialog-container {
  @apply fixed;
  @apply inset-0;
  @apply transition-opacity;
  @apply overflow-hidden;

  /* display: block;
  transition: opacity .2s linear;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  /* -webkit-overflow-scrolling: touch; */
  /* overflow: hidden; */
}

ux-dialog-container:active {
  opacity: 1;
}

ux-dialog-container > div {
  @apply p-4;
}

ux-dialog-container > div > div {
  @apply w-full;
  @apply block;
  /* width: 100%;
  display: block;
  min-width: 300px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto; */
}

ux-dialog-container > div > div > div {
  /* outline: 0; */
} 

ux-dialog {
  @apply w-full;
  @apply bg-white;
  @apply rounded-lg;
  @apply px-4;
  @apply pt-5;
  @apply pb-4;
  @apply overflow-hidden;
  @apply transform;
  @apply transition-all;
  /* @apply shadow-xl; */
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border: 1px solid rgba(0,0,0,.2);
  /* width: 100%;
  display: table;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  padding: 3;
  min-width: 300px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background: white; */
}

ux-dialog > ux-dialog-header {
  @apply py-2;
  @apply block;
  @apply border-b;
  @apply border-solid;
  @apply border-gray-300;
  /* display: block;
  padding: 16px;
  border-bottom: 1px solid #e5e5e5; */
}

ux-dialog > ux-dialog-header .dialog-header-content {
  @apply text-lg;
  @apply uppercase;
  @apply self-center;
  @apply text-gray-700;
}

ux-dialog > ux-dialog-header > button {
  float: right;
  border: none;
  display: block;
  width: 32px;
  height: 32px;
  background: none;
  font-size: 22px;
  line-height: 16px;
  margin: -14px -16px 0 0;
  padding: 0;
  cursor: pointer;
}

ux-dialog > ux-dialog-body {
  display: block;
  padding: 16px;
}

ux-dialog > ux-dialog-footer {
  /* @apply mt-5; */
  /* @apply flex; */
  @apply flex;
  @apply flex-col;
  @apply w-full;
  @apply pl-0;
  @apply pr-0;
  @apply pt-1;
  @apply pb-0;
}

ux-dialog > ux-dialog-footer > button {
  @apply inline-flex;
  @apply justify-center;
  @apply w-full;
  @apply rounded-md;
  @apply border;
  @apply px-4;
  @apply py-2;
  @apply mx-0;
  @apply my-1;
  @apply leading-6;
  @apply text-base;
  @apply shadow-sm;
  @apply transition;
  @apply ease-in-out;
  @apply duration-150; 
}

ux-dialog > ux-dialog-footer > button.primary {
  @apply text-blue-100;
  @apply bg-blue-500;
}

ux-dialog > ux-dialog-footer > button.primary:hover {
  @apply text-white;
  @apply bg-blue-400;
  @apply border-blue-600;
  @apply shadow;
}

ux-dialog > ux-dialog-footer > button.primary:focus {
  @apply outline-none;
  @apply text-blue-100;
  @apply border-blue-600;

}

ux-dialog > ux-dialog-footer > button.secondary {
  @apply bg-gray-100;
  @apply text-gray-700;
}

ux-dialog > ux-dialog-footer > button.secondary:hover {
  @apply bg-gray-100;
  @apply text-gray-600;
  @apply shadow;
}

ux-dialog > ux-dialog-footer > button.secondary:focus {
  @apply outline-none;
  @apply text-gray-500;
  @apply border-gray-800;
}

/* ux-dialog > ux-dialog-footer > button:disabled {
}

ux-dialog > ux-dialog-footer > button:hover:enabled {
} */

/*
ux-dialog > ux-dialog-footer {
  display: block;
  padding: 6px;
  border-top: 1px solid #e5e5e5;
  text-align: right;
}

ux-dialog > ux-dialog-footer > button {
  color: #333;
  background-color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0 5px 5px;
}

ux-dialog > ux-dialog-footer > button:disabled {
  cursor: default;
  opacity: 0.45;
}

ux-dialog > ux-dialog-footer > button:hover:enabled {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.ux-dialog-open {
  overflow: hidden;
}
*/


@screen sm {
  ux-dialog-container {
    @apply flex; 
    @apply inset-0; 
    @apply items-center;
    @apply justify-center;
  }

  ux-dialog-container > div {
    @apply p-5;
  }
  
  ux-dialog {
    @apply w-full;
  }

  ux-dialog > ux-dialog-footer {
    @apply flex; 
    @apply flex-row-reverse;
    
  }

  ux-dialog > ux-dialog-footer button {
    @apply leading-5;
    @apply w-auto;
    @apply text-base;
    @apply ml-2;
  }
}
