.responsive-table {
  @apply flex;
  @apply overflow-hidden;
  @apply overflow-x-auto; 
  @apply shadow-md;
  @apply rounded;
  @apply mt-2;
  @apply mb-4;
}

.responsive-table > table {
  @apply w-full;
  @apply bg-white;
}

.responsive-table > table > thead {
  @apply text-gray-600;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.responsive-table > table > tbody {
  @apply text-gray-700;
}

.responsive-table > table > thead > tr,
.responsive-table > table > tbody > tr {
  @apply h-full;
  @apply border-b;
  @apply bg-white;
}

/* .responsive-table > table > thead > tr > th {
  @apply flex;
  @apply flex-no-wrap;
} */


.responsive-table > table > thead > tr > th,
.responsive-table > table > tbody > tr > td {
  @apply text-left;
  @apply py-2;
  @apply px-5;
}

.responsive-table > table > thead > tr > th.action {
  @apply text-center;
}

.responsive-table > table > tbody > tr > td.action {
  /* @apply flex; */
  /* @apply justify-around; */
  /* @apply space-x-1; */ /* https://github.com/tailwindcss/tailwindcss/issues/1599 */
  /* @apply content-center; */
  /* @apply align-middle;   */
  /* --space-x-reverse: 0;
  margin-right: calc(1rem * var(--space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--space-x-reverse))); */
  @apply text-center;
  @apply align-middle;
  @apply block;
}

.responsive-table > table > thead > tr > th.center,
.responsive-table > table > tbody > tr > td.center {
  @apply text-center;
}

.responsive-table > table > thead > tr > th.right,
.responsive-table > table > tbody > tr > td.right {
  @apply text-right;
}

.responsive-table > table > thead > tr > th.left,
.responsive-table > table > tbody > tr > td.left {
  @apply text-left;
}

.responsive-table > table > tbody > tr > td.action > a.primary {
  /* @apply mx-1; */
  @apply text-blue-400;
}

.responsive-table > table > tbody > tr > td.action > a.primary:hover {
  @apply text-blue-600;  
}

.responsive-table > table > tbody > tr > td.action > a.secondary {
  /* @apply mx-1; */
  @apply text-gray-500;  
}

.responsive-table > table > tbody > tr > td.action > a.secondary:hover {
  @apply text-gray-700;  
}

.responsive-table > table > tbody > tr > td.action > a.warning {
  @apply mx-1;
  @apply text-red-400;  
}

.responsive-table > table > tbody > tr > td.action > a.warning:hover {
  @apply text-red-600;  
}

.responsive-table > table > tbody > tr.striped {
  @apply bg-gray-100;
}

.responsive-table > table > tbody > tr:hover {
  @apply bg-blue-100;
}

.responsive-table > table > thead > tr > th > i.fas.fa-fw.fa-sort {
  @apply text-gray-400;
}

.responsive-table > table > thead > tr > th > i.fas.fa-fw.fa-sort-up,
.responsive-table > table > thead > tr > th > i.fas.fa-fw.fa-sort-down {
  @apply text-gray-600;
}

.responsive-table > table > thead > tr > th.highlightable:hover {
  @apply text-blue-400;
}

.responsive-table > table > thead > tr > th:hover > i.fas.fa-fw.fa-sort,
.responsive-table > table > thead > tr > th:hover > i.fas.fa-fw.fa-sort-up,
.responsive-table > table > thead > tr > th:hover > i.fas.fa-fw.fa-sort-down {
  @apply text-blue-400;
}


/*
.responsive-table > table > thead > tr > th.highlightable:hover,
.responsive-table > table > thead > tr > th > i.fas.fa-fw.fa-sort:hover {
  @apply text-blue-400;
}
*/

/* 
.responsive-table > table > thead > tr > th > i.fas.fa-fw.fa-sort:hover {
  @apply text-gray-600;
} */
