<template>
  <require from="./form-layout.css" as="scoped"></require>

  <section class="form-layout">

    <header class="form-layout__header">
      <div class="form-layout__header__title">
        <slot name="title-section">${title}</slot>
      </div>
      <div class="form-layout__header__tools">
        <slot name="tool-section"></slot>
      </div>
    </header>

    <div class="form-layout__content">
      <slot name="form-section"></slot>
    </div>

    <footer class="form-actions">
      <slot name="form-actions"></slot>
    </footer>

  </section>

</template>
