<template>
  <require from="./list-layout.css"></require>

  <section class="list-layout">
    <header class="list-layout__header">
      <div class="list-layout__header__filter-toggler ${settings.isFilterVisible ? 'open' : '' }">
        <div class="list-layout__header__filter-toggler-button noselect" click.delegate="toggleFilter()">
          <i class="fas fa-filter"></i> Filter
        </div>
        <div class="list-layout__header__filter-toggler-close ${settings.isFilterVisible ? 'open' : '' }"
          click.delegate="toggleFilter()">
          <i <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="list-layout__header__list-options">
        <div class="list-layout__header__list-options-title">
          <!-- <breadcrumbs></breadcrumbs> -->
          ${title}
        </div>
        <div class="list-layout__header__list-options-tools">
          <slot name="tool-section"></slot>
        </div>
      </div>
    </header>

    <div class="list-layout__content">
      <div class="list-layout__content-filter ${settings.isFilterVisible ? 'open' : ''}">
        <slot name="filter-section"></slot>
      </div>
      <div class="list-layout__content-list">
        <slot name="list-section"></slot>
      </div>
    </div>
  </section>
</template>