<template>
  <require from="./list-layout.css"></require>

  <div class="list-layout">

    <section class="list-layout__action-bar">
      <div class="list-layout__action-bar__toggler ${isFilterVisible ? 'open' : '' }">
        <div class="list-layout__action-bar__toggler-button noselect" click.delegate="toggleFilter()">
          <i class="fas fa-filter"></i> Filter
        </div>
        <div class="list-layout__action-bar__toggler-close ${isFilterVisible ? 'open' : '' }"
          click.delegate="toggleFilter()">
          <i <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="list-layout__action-bar__list-options">
        <div class="list-layout__action-bar__list-options-title">
          ${title}
        </div>
        <div class="list-layout__action-bar__list-options-commands">
          <slot name="command-section"></slot>
        </div>
      </div>
    </section>
    
    <div class="list-layout__content">
      <div class="list-layout__content-filter ${isFilterVisible ? 'open' : ''}">
        <slot name="filter-section"></slot>
      </div>
      <div class="list-layout__content-list">
        <slot name="list-section"></slot>
      </div>
    </div>
  </div>
</template>
