<template>
  <require from="./list-layout-commands.css"></require>
  <require from="../../common/elements/dropdown"></require>

  <div class="command">
    <template repeat.for="command of commands">
      <div class="command-item" click.delegate="command.action()">
        <i class="${iconMap[command.icon]}"></i>
      </div>
      <!-- 
      <div if.bind="command.type === 'action'" class="command-item" click.delegate="command.action()">
        <i class="iconMap[command.icon]"></i>
      </div>
      <div if.bind="command.type === 'menu'">
        <dropdown class="account-bar__dropdown" view-model.ref="dropdownRef">
          <target>
            <div class="command-item" click.delegate="command.action()">
              <i class="iconMap[command.icon]"></i>
            </div>
          </target>
          <content>
            <div class="account-bar__dropdown-content">
              <a href="#account" class="account-bar__dropdown-content-item">Account Settings</a>
              <a href="#support" class="account-bar__dropdown-content-item mt-0">Support</a>
              <a href="#sign-out" class="account-bar__dropdown-content-item mt-0">Sign Out</a>
            </div>
          </content>
        </dropdown>
      </div> 
      -->
    </template>
  </div>
</template>
